<div id="filters">
    <div class="filter">
        <a href="/listing"><i class="fa-solid fa-fire"></i><p>Trending!</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Farms"><i class="fa-solid fa-tractor"></i><p>Farms</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Rooms"><i class="fa-solid fa-bed"></i><p>Rooms</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Amazingpools"><i class="fa-solid fa-person-swimming"></i><p>Amazingpools</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Cabins"><i class="fa-solid fa-tents"></i><p>Cabins</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Beachfront"><i class="fa-solid fa-umbrella-beach"></i><p>Beachfront</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Treehouses"><i class="fa-solid fa-tree"></i><p>Treehouses</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Lakepoints"><i class="fa-solid fa-water-ladder"></i><p>Lakepoints</p></a>
    </div>
    <div class="filter">
        <a href="/listing/category/Castles"><i class="fa-brands fa-fort-awesome"></i><p>Castles</p></a>
    </div>
    <div class="filter small">
        <a href="/listing/category/Twincitys"><i class="fa-solid fa-city"></i><p>Twincitys</p></a>
    </div>
    <div class="form-check-reverse form-switch tax">
        <label class="form-check-label taxswitch" for="flexSwitchCheckDefault">Airbnb total after taxes</label>
        <input class="form-check-input taxswitch" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
</div>
