<% layout("/layouts/boilerplate") %>

<div class="row">
    <h2 class="text-center text-danger">Login On Airbnb</h2>
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <label for="username" class="form-label mt-3">Username</label>
            <input type="text" name="username" id="username" required class="form-control">
            <label for="password" class="form-label mt-3">Password</label>
            <input type="Password" name="password" id="password" required class="form-control">
            <button class="btn btn-danger mt-3">Login</button>
        </form>
    </div>
</div>